<?xml version="1.0"?>
<robot name="p3bot" xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- ====== ARGUMENTOS GLOBALES ====== -->
  <xacro:arg name="use_sim" default="true"/>
  <xacro:arg name="use_meshes" default="true"/>
  <xacro:arg name="left_arm" default="true"/>
  <xacro:arg name="right_arm" default="true"/>

  <!-- ====== BASE LINK ====== -->
  <link name="base_link"/>

  <!-- ====== INCLUDES ====== -->
  <xacro:include filename="$(find p3bot_description)/urdf/base.xacro"/>
  <xacro:include filename="$(find p3bot_description)/urdf/wheels.xacro"/>
  <xacro:include filename="$(find p3bot_description)/urdf/GEN3_URDF_V12.xacro"/>
  <xacro:include filename="$(find p3bot_description)/urdf/sensors.xacro"/>

  <!-- ====== BASE ====== -->
  <xacro:p3bot_base parent="base_link" use_meshes="$(arg use_meshes)"/>

  <!-- ====== WHEELS ====== -->
  <xacro:p3bot_wheels parent="base_link"/>

  <!-- ====== ARMS ====== |-->

  <xacro:if value="$(arg left_arm)">

    <link name="left_arm_mount"/>

    <joint name="left_arm_mount_joint" type="fixed">
      <parent link="base_link"/>
      <child link="left_arm_mount"/>
      <origin xyz="0.002 0.055 1.052"
              rpy="1.13159 0 0"/>
    </joint>

    <xacro:GEN3_URDF_V12 prefix="left_" parent="left_arm_mount"/> 
  </xacro:if>

  <xacro:if value="$(arg right_arm)">

    <link name="right_arm_mount"/>

    <joint name="right_arm_mount_joint" type="fixed">
      <parent link="base_link"/>
      <child link="right_arm_mount"/>
      <origin xyz="0.01 -0.051761 1.04883"
              rpy="-1.13159 0 0"/>
    </joint>

    <xacro:GEN3_URDF_V12 prefix="right_" parent="right_arm_mount"/>
  </xacro:if>


  <!-- ====== SENSORS ====== -->
  <xacro:p3bot_sensors parent="base_link"/>

</robot>
